.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #457b9d;
}

@media (max-width: 1005px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
